.left_menu {
    background: rgba(45, 52, 52, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2em 0;
}

.logo {
    width: 60%;
    margin-bottom: 4em;
}

.left_menu_searcher{
margin-bottom: 4em;
    width: 73%;
    height: 5em;
    border-radius: 1em;
    padding: 0 1em;

}

.left_menu_filters {
    background: white;
    width: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 2em;
}

.filter_title{
    color:#7D4E24;
    margin: 0.3em;
    font-weight: bold;
}

.filter_is_exist {
    margin: 0.3em;
}

.filter_genre {
    margin: 0.3em;
}
.filte_genre_title {
    color:#7D4E24;
    margin: 1em 0 0.5em;
}

.filter_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    border: 0;
    border-radius: 20px;
    background: rgba(205, 145, 72, 1.0);
    color: #fff;
    padding: 8px 48px;
    margin: 2em 0;
    font-size: 16px;
    box-shadow: 2px 2px 5px black;
    transition: 500ms;
}

.filter_button:hover{
    background: #8a5322;
}

.filter_button:active{
    transition: none;
    background: rgba(205, 145, 72, 1.0);
}

.filte_genre_label {
    margin-top: 0.5em;
}

