.linc_blok{
    border: 50px;
    height: 25px;
    width: 85px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    transition: 500ms;
}

.linc_blok:hover{
    background: rgb(186, 129, 59);
}

.linc_blok:active{
    transition: 150ms;
    background: #8a5322;
}

.link{
    text-decoration: none;
    color: white;
}

.top_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background: rgba(45, 52, 52, 0.8);
    color: white;
}

.user_block {
    display: flex;
    margin-right: 4em;
}

.navigation{
    margin-left: 4em;
}

.user_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.3em;
}

.user_button_image {
    width: 1em;
    height: 1em;
    filter: invert(1);
}

.user_button_text {
    font-size: small;
}
