.book_card{
    margin: 1%;
    text-decoration: none;
}

.book_info{
    display: flex;
    background: #e7e6ec;
    border: 0px;
    border-radius: 5%;  
    transition: 500ms;
}

.book_info:hover {
    scale: 1.05;
    background: #dddbe7;
}

.book_info:active{
    scale: 1;
    transition: 150ms;
    background: #d1cce9;
}

.bool_avatar {
    margin: 1em 0 0 1em;;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bool_avatar_image {
    /*4:5*/
    width: 6em;
    object-fit: cover;
}


.bool_meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0;
}

.bool_meta_block {
    line-height: 0.2em;
    margin: 1em;
    text-align: left;
}
.bool_meta_block label {
    font-weight: bold;
}

