.box{
    display: flex;
    background: rgba(45, 52, 52, 0.8);
    height: 40px;
    justify-content: space-between;
    color: white;
    padding: 1em;
}

.adress{
    margin-left: 40px;
}

.contacts{
    display: flex;
    justify-content: space-evenly;
    width: 450px;
}