.app {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 100%;
}
.background {
  background-image: url("/src/Constants/images/background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.page {
    padding: 2em;
    background: rgb(251, 250, 250, 1.0);
}